.output{
    background-color: #DFF6FF;
    position: fixed;
    top:50px;
    left:50px;
    max-height:80vh;
    margin-right:50px;
    font-size:calc(15px + 1.2vw);
    text-align:left;
    padding:50px;
    overflow-y:auto;
    transition:transform 0.75s
}

.indexButton{
    
    font-size:calc(30pt + 1.2vw);
    //width:200px;
    margin:25px;
    padding: 15px;

}

.salonMenu{
    grid-template-areas: 
        'salonHeader salonHeader'
        'salonGenrePrompt genreSelector'
        'salonActorPrompt salonActorPrompt';
/*
    justify-items:center;
    align-items:center;
    vertical-align:center;
    text-align:center;
*/
    background-color:aqua;
    
}

.salonMenu > .salonGenrePrompt{
    text-align: right;
}

.fullRow{
    
    background-color: blue;
    width:100px;
}

.testMenu > .testId{
    
    background-color: red;
    width:50px;
    height:100px;
}

.indexButtonHelpText{
    
    font-size: calc(10pt + 0.6vw);
    padding-left: 20vw;
    padding-right: 20vw;
}

body{
     background-color: #DFF6FF;
}

.rosterBackground{
    
    background-color: #47B5FF;
}